<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Add New Pet</title>
</head>

<body>
    <h1>New Pet</h1>
    
    <div class="container"><form action="" method="POST">
        {{ form.hidden_tag()}}
        {% for field in form 
            if field.widget.input_type != 'hidden' %}
        <div class="form-group">
            {{ field.label }}
            {{ field (class_='form-control')}}
            
            {% if field.name == 'radio' %}
                {% for subfield in field %}
                <label>
                    {{ subfield }}
                    {{ subfield.label }}
                </label>
                {% endfor %}
            {% endif %}
            
        </div>
        {% endfor %}
        <button class="btn btn-success btn-large">Add</button>
    </form></div>
</body>
</html> 